#wrapper {
    font-family: 'Bungee', cursive;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-image: url(../img/ok.jpg);
    background-position: left;
    background-size:cover;
    }
#cookiesPerSecond{
    padding-top: 2vh;
    padding-bottom: 2vh;
    
}
#separatorRight {
    display: flex;
    background-image: url(../img/panelVertical.png);
}

#separatorLeft {
    display: flex;
}

#leftSide {
    
    font-size: 150%;
    padding-top: 10vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    justify-content:flex-start;
	background: #2980b9 url('../img/leftSIdeBG4.jpg') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 500px;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 500px;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 500px;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 500px;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 0 500px;}
}


#centerSide {
    display:flex;
    flex-direction: column;
    width: 40%;
  }


#centerSide div {
    display: flex;
    justify-content: flex-start;
    flex-direction:row;
    flex-wrap:wrap;
    min-height: 132px;
    max-height: 132px;
    overflow: hidden;
    
}
/*background images for adding images to mid side*/

#centerSide div img  {
    height: 44px;
    width: 44px;
        
}
#cursorMid {
    background-image: url(../img/cursorMid.jpg);
    background-position: bottom;
      background-repeat: no-repeat;
    background-size: cover;
}

#grandmaMid {
    background-image: url(../img/grandmaBG2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#farmMid {
    background-image: url(../img/farmBG.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#bakeryMid {
    background-image: url(../img/bakeryBGG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mineMid {
    background-image: url(../img/mineBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}




#rightSide {
    font-size: 125%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
     }

#cookie img {
    max-height: 100%;
    max-width: 100%;
}
#cookie:hover{
    transform: scale(1.1);
}

#Cursor {
    display: flex;
    flex-direction: row;
    border:solid;
    width: 98.7%;
    background-image: url(../img/BG_blur.png);
    border-style: groove;
    
}

#Farm {
    display: flex;
    flex-direction: row;
    border:solid;
     width: 98.7%;
    margin-top: 1px;
    background-image: url(../img/BG_blur.png);
    border-style: groove;
}

#Grandma {
    display: flex;
    flex-direction: row;
    border:solid;
     width: 98.7%;
    margin-top: 1px;
    background-image: url(../img/BG_blur.png);
    border-style: groove;
}

#Bakery {
    display: flex;
    flex-direction: row;
   border:solid;
     width: 98.7%;
    margin-top: 1px;
    background-image: url(../img/BG_blur.png);
    border-style: groove;
}


#Mine {
    display: flex;
    flex-direction: row;
    border:solid;
    width: 98.7%;
    margin-top: 1px;
    background-image: url(../img/BG_blur.png);
    border-style: groove;
    
   }

.upgrade {
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
    justify-content:flex-start;
    
    }

.upgrade img {
    height: 75px;
    width: 75px;
}

/*For loading page */
.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }
/*//--------------------------------------------------*/

/*For showing owned components and total production of cookies by cursor etc. */
.upgrade:hover .popUp  {
    display: flex;
    transition-delay:1s;
}


.popUp {
    font-size: 17px;
    position: absolute;
    display: none;
    flex-direction: column;
    background: black;
    color: white;
    height: auto;
    width: auto;
    border-radius: 6px;
    right: 30%;
/*    margin-top: 50px;*/
}






